<div class="article">
    <div style="background-image: url({{imageLink}}); background-size: cover; background-position: center">
    </div>
    <div>
        <a href="https://www.newyorker.com{{link}}">
            <h1>{{title}}</h1>
        </a>
        <p>{{summary}}</p>
    </div>
    <div>
        <button class="save" data-id="{{_id}}">Save Article</button>
    </div>
</div>